<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <%= image_tag("logo2.png", style: "width: 150px; padding-right: 50px !important;")%>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
          <%= link_to 'Home', root_path, class: 'nav-link px-2 text-white' %>
          </li>
           <li>
          <%= link_to 'Client', clients_path, class: 'nav-link px-2 text-white' %>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <%= form_with url: "/search", method: :get do |form| %>
    
          <%= form.text_field :query, class: "form-control", placeholder: "Search for..." %>
  <%= form.submit "Search", style: "display: none" %>
<% end %>
        </form>

     
      </div>
    </div>
  </header>