<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<body class= 'container bg-dark bg-gradient text-white' style="background-position: center; background-repeat: no-repeat; background-size: cover;">
    <%= render 'shared/navbar' %>
    <%= render 'shared/alert' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
